@charset "utf-8";
/**
Nuestros css personalizados
*/
body{
    padding-top: 70px;
    padding-bottom: 30px;
}

.paging{
    display: inline-block;
}

.paging .btn-info a{
    color: white;
}
.paging span{
    margin: 0 2px 5px 2px;
}
.form .input{
    margin: 5px 0;
}

/**
preloader
*/
#procesando{
    width: 100px;
    display: inline-block;
    position: relative;
}

.loader-procesando {
  position: absolute;
  top: 37px;
  left: 5px;
}
.float-left{
  float: left;
}
.clear-left{
  clear: left;
}

.loader-procesando span{
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: #3498db;
    margin: 15px 0
  }
  
  .loader-procesando span:nth-child(1){
    animation: rebote 1s ease-in-out infinite;
  }
  
  .loader-procesando span:nth-child(2){
    animation: rebote 1s ease-in-out 0.33s infinite;
  }
  
  .loader-procesando span:nth-child(3){
    animation: rebote 1s ease-in-out 0.66s infinite;
  }

  @keyframes rebote{
    0%, 75%, 100%{
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  
    25%{
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }

.view{
  background-color: #fff;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  padding: 0px 15px 15px;
  margin: 0 -15px 15px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
}

.view h2{
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.plato img{
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0, 0.5) 5px 5px 10px;
}